$accent: #ea918d !default;
$accentHover: #de8a86 !default;
$dark: #304659 !default;
$dark80: rgba(48, 70, 89, 0.8) !default;
$dark60: rgba(48, 70, 89, 0.6) !default;
$light: #f5f9fc !default;
$transition: all 0.3s ease 0s;
