.project {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 4rem;
}

.project__card {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);

  padding: 0 0 10px;
  margin: 20px;
  transition: $transition;
  background-color: $dark80;
}

.project__card:hover {
  opacity: 0.8;
  cursor: pointer;
}

.project__card img {
  object-fit: contain;
}

.project__content {
  padding: 5px 10px;
  margin-top: 0.5rem;
}

.project__content p {
  margin-top: 0.2rem;
}

@media only screen and (max-width: 1178px) {
  .project {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 806px) {
  .project {
    grid-template-columns: 1fr;
  }

  .project__card img {
    width: 420px;
  }
}

@media only screen and (max-width: 585px) {
  .project__card img {
    width: 320px;
  }
}

@media only screen and (max-width: 488px) {
  .project__card img {
    width: 220px;
  }

  .project__content h3 {
    font-size: 1rem;
  }

  .project__content p {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 390px) {
  .project__card {
    position: relative;
    right: 30px;
  }
}
